*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
  font-family: monospace;
}
a{
  text-decoration: none;
}

ul{
  margin-bottom: 10px;
  list-style: none;
}

.m_1{
  margin: 10px 0px
}

header{
  background-color: grey;
  padding: 20px;
}

.post-wrapper{
  width: 85%;
  margin: 0px auto;
  background-color: rgb(223, 223, 223);
  padding: 10px 40px;
  display: flex;
  justify-content: space-around;
}
.card_container{
  width: 70%;
}
.authors_container{
  width: 20%
}
